.header{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.shop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.luffy{
    margin: 10px;
}
.logo{
    text-decoration: none;
    color: black;
}