.parent{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px gray;
}
.item:hover{
    font-weight: bold;
}
.itemimg{
    width: 150px;
    height: 150px;
}
.itemrate{
    width: 90px;
    height: 40px;
}
button{
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
button:hover{
    background-color: orangered;
}
h1{
    text-align: center;
}