.Nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    text-decoration: none;
}
li{
margin: 10px;
}
.active-class{
    color: rgb(255, 136, 0);
    text-decoration: none;
}
.notactive-class{
    color: black;
    text-decoration: none;
}
/* .navbar{
   
    animation-name: change;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
} */
/* @keyframes change {
    0%{
        background-image: linear-gradient(
            to right,
            aqua,
            green,
            red
        );
    }
    100%{
        background-color: brown;
    }
} */
@media screen and (max-width:765px) {
    .Nav{
        flex-direction: column;
        text-align: center;
    }
    
}