.footmain{
    background-color: orangered;
    color: white;
    padding-bottom: 2px;
}
.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerfooot{
    margin-left: 20px;
}
@media screen and (max-width:765px){
    .footercontainer{
        flex-direction: column;
        margin: 15px;
    }
}